# Copy the full API key (starts with f6389dfb...) and paste it below:
COGNEE_API_KEY=""

# The Cognee Cloud API URL
COGNEE_API_URL=""

# Tenant ID
COGNEE_TENANT_ID=""

#Supabase Cloud API URL
VITE_SUPABASE_URL

#Supabase API Anonymous Key
VITE_SUPABASE_ANON_KEY
